
.mainsec1div{
    display: grid;
    grid-gap: 10px;
    /* margin-top: 10px; */
    
    grid-template-columns: repeat(2, 1fr);
}

.catg1div{
   
   
  
   /* border: 2px solid black; */
   
}

.catg1div img{
   
    
    object-fit: cover; 
    width: 100%;
    height: 20%;
    
}

